<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список вопросов</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Список вопросов</h1>
<a th:href="@{/}">На главную</a>
<br/><br/>

<a th:href="@{/questions/create}">Создать новый вопрос</a>

<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Actions</th>
    </tr>
    <tr th:each="q : ${questions}">
        <td th:text="${q.id}"></td>
        <td th:text="${q.question}"></td>
        <td>
            <a th:href="@{|/questions/${q.id}|}">View</a> |
            <a th:href="@{|/questions/edit/${q.id}|}">Edit</a> |
            <a th:href="@{|/questions/delete/${q.id}|}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
