<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}">

    <title th:text="'Главная страница'"></title>
</head>
<body>

<th:block th:replace="~{fragments/layout :: navbar}"></th:block>

<div class="container-fluid px-3 px-md-5 mt-4">
    <h1>Главная страница</h1>
    <hr/>
    <p th:if="${currentUser != null}">
        Вы вошли как <b th:text="${currentUser}">user</b>.
    </p>
    <p th:if="${currentUser == null}">
        Вы не авторизованы.
    </p>
    <p>
        Пример приложения на Thymeleaf с JWT авторизацией через RestTemplate.
    </p>
</div>

<th:block th:replace="~{fragments/layout :: scripts}"></th:block>

</body>
</html>
